## EXPIRES CACHING ##
#<IfModule mod_expires.c>
#ExpiresActive On
#ExpiresByType image/jpg "access 1 year"
#ExpiresByType image/jpeg "access 1 year"
#ExpiresByType image/gif "access 1 year"
#ExpiresByType image/png "access 1 year"
#ExpiresByType text/css "access 1 month"
#ExpiresByType text/html "access 1 month"
#ExpiresByType application/pdf "access 1 month"
#ExpiresByType text/x-javascript "access 1 month"
#ExpiresByType application/x-shockwave-flash "access 1 month"
#ExpiresByType image/x-icon "access 1 year"
#ExpiresDefault "access 1 month"
#</IfModule>
## EXPIRES CACHING ##

RewriteEngine on

Options +FollowSymLinks

# For .phtml files
AddHandler application/x-httpd-php56 .phtml
AddHandler application/x-httpd-php7 .phtml
AddHandler application/x-httpd-php71 .phtml

# www to non wwww
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]
# non www to www
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]

# Force trailing slash at the end of URL + If file has a extension - don't add that slash
RewriteCond %{REQUEST_URI}  !\.(php|html|phtml|shtml|jpg|jpeg|gif|png|ico|css|xml|js)$
RewriteRule ^(.*)([^/])$ http://%{HTTP_HOST}/$1$2/ [L,R=301]

# Delete trailing slash
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)/$ /$1 [L,R=301]

# If file exist - open it
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d [OR]
RewriteCond %{REQUEST_FILENAME} -ls
RewriteRule ^.*$ - [NC,L]


RewriteCond %{REQUEST_URI} ^/cms [NC]
RewriteRule ^(.*)$ /cms/index.php [NC,L]



RewriteCond %{REQUEST_URI} ^/panel [NC]
RewriteRule ^(.*)$ panel.php [NC,L]

RewriteRule ^(.*)$ index.php [NC,L]